@model BuyingCartVM

<form method="post">
	<br />
	<div class="container">
		<div class="card shadow border-0">
			<div class="card-header bg-gradient text-light ml-0 py-4">
				<div class="row px-4">
					<div class="col-6">
						<h5 class="pt-2">
							Shopping Cart
						</h5>
					</div>
					<div class="col-6 text-end">
						<a class="btn btn-outline-danger btn-sm">Back to Cart</a>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container rounded p-2">
					<div class="row">
						<div class="col-12 col-lg-6 pb-4">
							<div class="row">
								<h4 class="d-flex justify-content-between align-items-center mb-3">
									<span class="text-info">Shipping Details:</span>
								</h4>
							</div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.Name" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Name" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.PhoneNumber" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.PostalCode" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PostalCode" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.City" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.State" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.Email" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Email" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">
                                    <label asp-for="OrderHeader.Age" class="form-label"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Age" class="form-control" disabled />
                                    <span asp-validation-for="OrderHeader.Age" class="text-danger"></span>
                                </div>
						</div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
                                    <span class="text-info">Order Summary</span>
                                </h4>

                                <ul class="list-group mb-4">
                                    @foreach (var item in Model.BuyingCarts)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                                            <div>
                                                <h6 class="my-0">@item.Product.Title</h6>
                                                <small class="text-muted">Quantity: @item.Count</small>
                                            </div>
                                            <span class="text-muted">NRP @String.Format("{0:0.00}", item.Product.Price * item.Count)</span>
                                        </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-3 bg-light">
                                        <small class="text-info font-weight-bold">Total (NRP)</small>
                                        <strong class="text-info">Rs. @Model.OrderHeader.OrderTotal</strong>
                                    </li>
                                </ul>
                            </div>

					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-12 col-md-8 pt-2">
						<p style="color:maroon; font-size:14px;">
							Estimate Arrival Date:
						</p>
					</div>
					<div class="col-12 col-md-4">
						<button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
